*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.hero{
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    color: aliceblue;
    margin-top: -50px;
    margin-bottom: 50px;
}
textarea{
    width: 500px;
    height: 200px;
    background: pink;
    border: 1px solid;
    border-radius: 5px;
    outline: 0;
    font-size: 15px;
    padding: 20px;
    margin-bottom: 30px;
    resize: none;
    color:brown
}
textarea::placeholder{
    color: brown;
    font-size: 15px;
}
.row{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 500px;

}
button{
    background-color: palevioletred;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 35px;
    color: azure;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 0px;
}
select{
    flex: 1;
    color: azure;
    background: palevioletred;
    height: 43px;
    padding: 0 20px;
    border-radius: 35px;
    

}